/* footer */

.social {
	margin-left: 3.8rem;

	@include bp(mobile) {
		margin: 0;
    }
}

.social-inner {
	color: white;
	display: flex;
	flex-direction: column;
	margin: 0 auto;

	@include bp(mobile) {
		margin: 0 auto;
		flex-direction: row;
		justify-content: space-around;
		width: 80%;

		@include bp(tablet) {
			width: 55%;
		}

		@include bp(desktop) {
			width: 50%;
		}
    }

	a {
		height: 30px;
		text-decoration: none;
		font-family: $font-text;
		color: white;
		font-size: .6rem;
		margin-left: .5rem;

		@include bp(mobile) {
			font-size: .8rem;
		}

		@include bp(desktop) {
			font-size: 1rem;
			height: 38px;
    	}
	}

	i {
		font-size: 2rem;
		margin-bottom: 1rem;

		@include bp(desktop) {
			font-size: 2.4rem;
    	}
	}
}

.social-01, .social-02 {
	display: flex;

	@include bp(desktop) {
		font-size: 1rem;
    }
}

.social-01 {
	@include bp(desktop) {
		margin-right: 5rem;
    }
}

.social-01-inner, .social-02-inner {
	display: flex;
	align-items: center;
}

.social-02-inner a {
	margin-left: .75rem;
}

footer {
	background-color: $color-brand-grey-main;
	padding-top: 2rem;

	@include bp(desktop) {
		padding-top: 5rem;
	}
}

.copyright {
	color: white;
	font-size: .6rem;
	margin: 0 auto;
	text-align: center;

	@include bp(desktop) {
		font-size: 0.8421rem;
    }
}

.footer-accent {
	height: 10px;
	background-color: $color-brand-orange;
}