// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: ($sizeValue * 16) * 1px;
	font-size: $sizeValue * 1rem;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Break points

@mixin bp($point) {
  
  $bp-mobile: "(min-width: #{$small-screen} )";
  $bp-mobileAbout: "(min-width: #{$small-screenAbout} )";
  $bp-tablet: "(min-width: #{$medium-screen} )";
  $bp-desktop: "(min-width: #{$large-screen})";

  @if $point == desktop {
    @media #{$bp-desktop} { @content; }
  }
  @else if $point == tablet {
    @media #{$bp-tablet} { @content; }
  }
  @else if $point == mobileAbout {
    @media #{$bp-mobileAbout} { @content; }
  }
  @else if $point == mobile {
    @media #{$bp-mobile} { @content; }
  }
}